* {
  -webkit-user-select: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
}

.odometer {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: 100%;
  height: 150px;
  position: relative;
}

button {
  border: none;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

#add {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#reset {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.metal {
  outline: none;
  font-size: 20px;
  text-align: center;
  color: hsla(0, 0%, 20%, 1);
  text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;
  background-color: hsl(0, 0%, 90%);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
  inset hsla(0, 0%, 15%, .8) 0 -1px 5px 4px,
  inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px,
  inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px,
  hsla(0, 0%, 0%, .15) 0 -5px 6px 4px,
  hsla(0, 0%, 100%, .5) 0 5px 6px 4px;
  transition: color .2s;
}

.radial {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 35px;
  background-image: -webkit-radial-gradient( 50% 0%, 8% 50%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient( 50% 100%, 12% 50%, hsla(0, 0%, 100%, .6) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient( 0% 50%, 50% 7%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient( 100% 50%, 50% 5%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 3%, hsla(0, 0%, 0%, .1) 3.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .2) 2.2%), -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0, 0%, 90%, 1) 5%, hsla(0, 0%, 85%, 1) 30%, hsla(0, 0%, 60%, 1) 100%);
}

.radial:before,
.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-image: -webkit-radial-gradient( 50% 0%, 10% 50%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%), -webkit-radial-gradient( 50% 100%, 10% 50%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%), -webkit-radial-gradient( 0% 50%, 50% 10%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%), -webkit-radial-gradient( 100% 50%, 50% 06%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%);
}

.radial:before {
  transform: rotate( 65deg);
}

.radial:after {
  transform: rotate(-65deg);
}

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210, 100%, 20%, .3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px, hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, .6) 0 0 20px;
  box-shadow: inset hsla(210, 100%, 30%, 1) 0 0px 0px 4px,
  inset hsla(210, 100%, 15%, .4) 0 -1px 5px 4px,
  inset hsla(210, 100%, 20%, .25) 0 -1px 0px 7px,
  inset hsla(210, 100%, 100%, .7) 0 2px 1px 7px,
  hsla(210, 100%, 75%, .8) 0 0px 3px 2px,
  hsla(210, 50%, 40%, .25) 0 -5px 6px 4px,
  hsla(210, 80%, 95%, 1) 0 5px 6px 4px;
}

